<p>Hello <%= @user.first_name %>,</p>
<br/>
<p>Someone has added a comment to your discussion: </p>
<br/>
<p>Discussion: <%= @discussion.title %></p>
<br/>
<p>Comment: <%= @comment.body %></p>
<br/>
<p>Regards,</p>
<br>
<p>Brandyn</p>
