<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/37966_10150241459825374_6843572_n.jpg?oh=02ca709402dcc5103fc8babc23c8fc50&oe=5550F3FD&__gda__=1432558490_a4216e8e87ee2ab5907daf5a886024bf">

<p>I love vidya games :)</p>